os:
- linux

sudo: required
dist: trusty

languages: c

before_install:
- sudo apt-get update -qq -y
- sudo apt-get install -qq llvm -y
- sudo apt-get install -qq clang -y
- sudo apt-get install -qq binutils -y
- sudo apt-get install -qq pkg-config -y
- sudo apt-get install -qq bison -y
- sudo apt-get install -qq flex -y
- sudo apt-get install -qq libpci-dev -y
- sudo apt-get install -qq zlib1g-dev -y
- sudo apt-get install -qq cmake -y

cache:
- apt

script:
- export CC=clang
- rm -fr build
- mkdir build
- cd build
- cmake ../ && make -j2 && make package

notifications:
  email:
    on_success: never
    on_failure: never
  irc:
    on_success: always
    on_failure: always
    channels:
      - "chat.freenode.net#librecore"
    template:
      - "%{result} %{message} %{repository_name}:%{branch}:%{commit} (%{author} - %{commit_subject})"
      - "View code      : %{compare_url}"
      - "View build log : %{build_url}"
